# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [16]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

In [17]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [18]:
# Read the WeatherPy_vacation.csv into a DataFrame
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
# Display sample data
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Kieta,PG,85.24,overcast clouds,-6.2167,155.6333,Kieta
1,6,Atuona,PF,78.10,clear sky,-9.8000,-139.0333,Atuona
2,9,Rikitea,PF,72.95,heavy intensity rain,-23.1203,-134.9692,Rikitea
3,11,Saint-Leu,RE,70.63,clear sky,-21.1500,55.2833,Saint-Paul
4,15,Lompoc,US,71.74,clear sky,34.6391,-120.4579,Lompoc

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [19]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [20]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [21]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
vacation_df.head(100)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Kieta,PG,85.24,overcast clouds,-6.2167,155.6333,Kieta
1,6,Atuona,PF,78.10,clear sky,-9.8000,-139.0333,Atuona
2,9,Rikitea,PF,72.95,heavy intensity rain,-23.1203,-134.9692,Rikitea
3,11,Saint-Leu,RE,70.63,clear sky,-21.1500,55.2833,Saint-Paul
4,15,Lompoc,US,71.74,clear sky,34.6391,-120.4579,Lompoc
...,...,...,...,...,...,...,...,...
95,303,Manzanillo,CU,78.15,broken clouds,20.3433,-77.1167,Manzanillo
96,306,Cabedelo,BR,79.47,clear sky,-6.9811,-34.8339,Cabedelo
97,307,Sur,OM,75.34,few clouds,22.5667,59.5289,Sur
98,309,Saint-Georges,GD,78.48,scattered clouds,12.0564,-61.7485,Saint George's
99,314,Kulhudhuffushi,MV,81.01,scattered clouds,6.6221,73.0700,Kulhudhuffushi

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [23]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
start = float(input("What is your Starting City_ID from MV List you would like for your trip? "))
stop1 = float(input("What is your First Stop City_ID from MV List you would like for your trip? "))
stop2 = float(input("What is your Second Stop City_ID from MV List you would like for your trip? "))
stop3 = float(input("What is your Thirth Stop City_ID from MV List you would like for your trip? "))
end = float(input("What is your Last City_ID from MV List you would like for your trip? "))

What is your Starting City_ID from MV List you would like for your trip? 21
What is your First Stop City_ID from MV List you would like for your trip? 218
What is your Second Stop City_ID from MV List you would like for your trip? 15
What is your Thirth Stop City_ID from MV List you would like for your trip? 91
What is your Last City_ID from MV List you would like for your trip? 41

In [24]:
# Start Vacation at:

vacation_start = vacation_df.loc[(vacation_df["City_ID"] == stop1)]
vacation_start = vacation_start.iloc[0]

vacation_stop1 = vacation_df.loc[(vacation_df["City_ID"] == stop2)]
vacation_stop1 = vacation_stop1.iloc[0]

vacation_stop2 = vacation_df.loc[(vacation_df["City_ID"] == stop3)]
vacation_stop2 = vacation_stop2.iloc[0]

vacation_stop3 = vacation_df.loc[(vacation_df["City_ID"] == end)]
vacation_stop3 = vacation_stop3.iloc[0]

vacation_end = vacation_df.loc[(vacation_df["City_ID"] <= end)]
vacation_end = vacation_end.iloc[0] 
                                     
print("Your Starting Destination is " + vacation_start["City"] + ", " + vacation_start["Country"])
print("Your Last Stop in your vacation is " + vacation_end["City"] + ", " + vacation_end["Country"])
print("Your Frist Stop is " + vacation_stop1["City"] + ", " + vacation_stop1["Country"])
print("Your Second Stop is " + vacation_stop2["City"] + ", " + vacation_stop2["Country"])                                     
print("Your Thirth Stop is " + vacation_stop3["City"] + ", " + vacation_stop3["Country"])

Your Starting Destination is Isla Vista, US
Your Last Stop in your vacation is Kieta, PG
Your Frist Stop is Lompoc, US
Your Second Stop is Kapaa, US
Your Thirth Stop is Makakilo City, US

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [25]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]]
print(start)
end = vacation_end[["Lat", "Lng"]]
print(end)
stop1 = vacation_stop1[["Lat", "Lng"]]
print(stop1)
stop2 =  vacation_stop2[["Lat", "Lng"]]
print(stop2)
stop3 = vacation_stop3[["Lat", "Lng"]]
print(stop3)

Lat    34.4133
Lng   -119.861
Name: 70, dtype: object
Lat     -6.2167
Lng    155.6333
Name: 0, dtype: object
Lat     34.6391
Lng   -120.4579
Name: 4, dtype: object
Lat    22.0752
Lng   -159.319
Name: 28, dtype: object
Lat     21.3469
Lng   -158.0858
Name: 12, dtype: object

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [27]:
# Define a new figure object
import gmaps
import gmaps.datasets
gmaps.configure(api_key=g_key)

start = (34.4133, -119.861)
stop1 = (34.6391, -120.4579)
stop2 = (22.0752, -159.319)
stop3 = ( 21.3469, 124.8925)
end = (-6.2167, -158.0858)

fig = gmaps.figure()
sart2end_via_stops = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(sart2end_via_stops)
fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [28]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

0                  218
1           Isla Vista
2                   US
3                71.35
4            clear sky
5              34.4133
6             -119.861
7        Santa Barbara
8                   15
9               Lompoc
10                  US
11               71.74
12           clear sky
13             34.6391
14           -120.4579
15              Lompoc
16                  91
17               Kapaa
18                  US
19               80.58
20    scattered clouds
21             22.0752
22            -159.319
23              Kapaʻa
24                  41
25       Makakilo City
26                  US
27               82.72
28       broken clouds
29             21.3469
30           -158.0858
31             Kapolei
dtype: object

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [29]:

# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

City
{City}
Country
{Country}
Current Description
{Current Description}

Max Temp
{Max Temp} °F


"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
mark_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [32]:
city_mark = vacation_df["City"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=mark_info)

fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))